---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import About from "./about.mdx";
import { SEARCH } from "@consts";

const projects = (await getCollection("projects")).filter(
  (post) => !post.data.draft
);

---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
  <div class="bg-subwayDark background-image ">
  <TopLayout>

    <div class="animate page-heading text-center flex flex-col items-center justify-center">
      <img src="/images/about.svg" />
    </div>
  </TopLayout>
  <BottomLayout>
    <article class="prose dark:prose-invert">
      <About />
    </article>
  </BottomLayout>
</PageLayout>
