---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";
// import Cv from "./music.js";
import { SEARCH } from "@consts";
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
    <div class="bg-subwayDark background-image ">

    <BottomLayout>
        <style>
            .music {
                iframe {
                    margin-bottom: 1em;
                }
            }
        </style>
        <article class="music animate prose dark:prose-invert mt-10">
            <div class="text-center font-bold">
                <br>
                <div class="">
                    SOME COMPILATIONS OF MY MUSIC
                    <br>• 1990 / 2025 •
                </div>
                <img src="/brand.svg"/>
                Vintage Techno - Stoute & Alakhov - 1994 / 2020
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1181808619&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
                Electronic & Ambient - 2020
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1180345402&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
                Computed Generative - 2018
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1018806022&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
                Vintage Techno - 1990 / 1999
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/685811319&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
                Club / Dance - 2000 / 2010
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/684778335&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
                Ambient - 2019
                <iframe
                        width="100%"
                        height="200"
                        scrolling="no"
                        frameborder="no"
                        allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/824248331&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
                ></iframe>
            </div>

        </article>
    </BottomLayout>
</PageLayout>
