---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import AboutSvg from "@images/about.svg";
---

<PageLayout title={"About"} description={"Information about Bob Stoute"}>
  <div class="background-image bg-subway-dark">
    <div class="animate h-full text-center flex items-center justify-center">
      <AboutSvg />
    </div>
  </div>
</PageLayout>
