---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import { SITE, SOCIALS } from "@consts";
import ContactSvg from "@images/contact.svg";
---

<style is:global>
  .contact footer, .contact section  {
    @apply hidden;
  }
</style>


<PageLayout title={"contact"} description={"contact"}>
  <div class="bg-subwayDark background-image ">
    <div class="animate absolute h-screen w-full flex-col flex items-center justify-center">
      <div class="flex flex-wrap gap-1 flex-col items-center justify-center">
        <ContactSvg />
        <div class="flex flex-wrap gap-1 pt-2 items-center justify-center">
        {
          SOCIALS.map((SOCIAL) => (
              <a
                  href={SOCIAL.HREF}
                  target="_blank"
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  class="group size-10 rounded-full p-2 items-center justify-center hover:bg-black/5 dark:hover:bg-white/20  blend"
              >
                <svg class="size-full fill-current group-hover:fill-black group-hover:dark:fill-white blend">
                  <use href={`/social.svg#${SOCIAL.ICON}`} />
                </svg>
              </a>
          ))
        }
        </div>
      </div>
    </div>

</PageLayout>
