---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Drawer from "@components/Drawer.astro"
const { title, description } = Astro.props
import { SITE } from "@consts"
// import { appState, isLoggedIn } from '../../public/js/appStore';

const urlPath = Astro.url.pathname.split("/").filter(Boolean).join(" ");
const environment = Astro.url.hostname === "localhost" ? "development" : "production"

---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
  </head>
  <body class:list={urlPath}>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
  </body>

  <script define:vars={{ environment }} type="module">
    import { appState } from '/js/appStore.js';
    appState.setKey('environment', environment);
    console.log(appState.get('environment'));
  </script>

</html>
