---
export const prerender = true;

import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import AICardGeneration from "@components/kokonutui/ai-card-generation";
import { db, PromptTemplateTable, Comment, Author } from "astro:db";

// const templates = await db.select().from(PromptTemplateTable).all();

const promptTemplate = await fetch(Astro.url.origin + "/api/prompts/one.json")
  .then((response) => response.json())
  .catch((error) => console.error("Error:", error));
console.log(promptTemplate);
---

<script>
  // const url = window.location.origin + "/api/prompts/one.json";
  const url = window.location.origin + "/api/hello";
  const result = await fetch(url)
    .then((response) => response.json())
    .catch((error) => console.error("Error:", error));
  console.log(result);
</script>

<PageLayout title={"dev"} description={"dev"}>
  <!--<div class="bg-subwayDark background-image ">-->
  <TopLayout>
    <div class="animate page-heading">
      {"DEV"}

      <!--<ErrorGeneration error="error msg" client:only="react" />-->
    </div>
  </TopLayout>
  <BottomLayout>
    <AICardGeneration client:only="react" />
    <!--<div class="animate">-->
    <!--  <Projects client:load tags={tags} data={projects} />-->
    <!--</div>-->
  </BottomLayout>
</PageLayout>
