---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import AICardGeneration from "@components/kokonutui/ai-card-generation"
import {ErrorGeneration} from "@components/kokonutui/error-generation"
---

<PageLayout title={'dev'} description={'dev'}>
  <!--<div class="bg-subwayDark background-image ">-->
  <TopLayout>
    <div class="animate page-heading">
      {'DEV'}

      <!--<ErrorGeneration error="error msg" client:only="react" />-->
    </div>
  </TopLayout>
  <BottomLayout>
    <AICardGeneration client:only="react" />
    <!--<div class="animate">-->
    <!--  <Projects client:load tags={tags} data={projects} />-->
    <!--</div>-->
  </BottomLayout>
</PageLayout>
